* {
/*     
    margin: 0;
    padding: 0; */
   color: #eee;
   background-color: #020222;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#app {
    display: flex;
    justify-content: space-around;
}

#phrase {
    display: flex;
    align-self: center;
    justify-content: center;
    color: #72A0C1;
}

.body-elemnts {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 350px;
    width: 500px;
    padding: 30px;
    background-color: #15172b;
    color: #eee;
    font-family: sans-serif;
    border-radius: 20px;
    flex-wrap: nowrap;
    margin-left: 70px;
    margin-top: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
}

#left {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: nowrap;
    width: 800px;
}

input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    outline: 0;
    padding: 4px 20px 0;
  }

  select {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    outline: 0;
    padding: 4px 20px 0;
  }

#form-header {
    background-color: #15172b;
}

label {
    background-color: #15172b;
}

h1 {
    margin-top: 15px;
    margin-bottom: 1px;
    text-align: center;
    font-size: 5em;
    color: #72A0C1;
    -webkit-text-stroke: 1px #eee
}

/* p {
    margin-bottom: 25px;
    text-align: center;
} */

#right {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    width: 600px;
    margin-top: 25px;
}

/* #prgramed-list {
    position: relative;
} */

#delete {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    /* color: #72A0C1; */
    outline: 0;
    padding: 4px 20px 0;
}

#wod-card{
    background-color: #15172b;
    border-radius: 20px;
    padding: 15px;
    padding-top: 5px;
    margin-top: 15px;

}

#wod-listed{
    background-color: #15172b;
}

#type-listed{
    background-color: #15172b;
    color:#72A0C1
}

#form-header {
    text-align: center;
}

select {
    height: 50px;
}

#workoutA {
    height: 50px;
}

#workout-label {
    padding-bottom: 2px;
    color: #72A0C1
}

#create-btn:hover{
    background-color:#72A0C1;
      transition: 0.7s;
}

#delete:hover {
    background-color:#72A0C1;
      transition: 0.7s;
}

#form-header{
    font-size: 2.5em;
}

#prgramed-list {
    font-size: 2.5em;
}

h6 {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 0px;
    color: #72A0C1;
}



label {
    color:#72A0C1

}